<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method="post" action="/login/">
        {% csrf_token %}
        <table align="center" border="2">
            <tr>
                <th colspan="2">User Login</th>
            </tr>
            <tr>
                <td>User Name</td>
                <td><input type="text" placeholder="Username" name="t1" required> </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" placeholder="Password" name="t2" required></td>

            </tr>
            <tr>
                <th colspan="2"><button type="submit" >Login</button></th>
            </tr>
        </table>

    </form>
</body>
</html>